/.vs/acelot-gatewayapi-sample/v15/Server/sqlite3/*.lock
/.vs/acelot-gatewayapi-sample/v15/Server/sqlite3/*.ide
/.vs/acelot-gatewayapi-sample/v15/Server/sqlite3/*.ide-shm
/.vs/acelot-gatewayapi-sample/v15/Server/sqlite3/*.ide-wal
/ApiGateway/bin/Debug/netcoreapp2.0/*.json
/ApiGateway/bin/Debug/netcoreapp2.0/*.dll
/ApiGateway/bin/Debug/netcoreapp2.0/*.pdb
/ApiGateway/bin/Release/netcoreapp2.0/*.json
/ApiGateway/bin/Release/netcoreapp2.0/*.dll
/ApiGateway/bin/Release/netcoreapp2.0/*.pdb
/ApiGateway/obj/*.cache
/ApiGateway/obj/*.props
/ApiGateway/obj/*.targets
/ApiGateway/obj/Debug/netcoreapp2.0/*.cs
/ApiGateway/obj/Debug/netcoreapp2.0/*.cache
/ApiGateway/obj/Debug/netcoreapp2.0/*.txt
/ApiGateway/obj/Debug/netcoreapp2.0/*.dll
/ApiGateway/obj/Debug/netcoreapp2.0/*.pdb
/ApiGateway/obj/Docker/*.cache
/ApiGateway/obj/Docker/publish/*.dll
/ApiGateway/obj/Docker/publish/*.pdb
/ApiGateway/obj/Docker/publish/*.json
/ApiGateway/obj/Docker/publish/runtimes/unix/lib/netstandard1.3/*.dll
/ApiGateway/obj/Docker/publish/runtimes/win/lib/netstandard1.3/*.dll
/ApiGateway/obj/Docker/publish/*.config
/ApiGateway/obj/Release/netcoreapp2.0/*.cs
/ApiGateway/obj/Release/netcoreapp2.0/*.cache
/ApiGateway/obj/Release/netcoreapp2.0/*.dll
/ApiGateway/obj/Release/netcoreapp2.0/*.pdb
/ApiGateway/obj/Release/netcoreapp2.0/*.txt
/ApiGateway/obj/Release/netcoreapp2.0/*.rsp
/ApiGateway/obj/*.json
/CustomerServices/bin/Debug/netcoreapp2.0/*.json
/CustomerServices/bin/Debug/netcoreapp2.0/*.dll
/CustomerServices/bin/Debug/netcoreapp2.0/*.pdb
/CustomerServices/bin/Release/netcoreapp2.0/*.json
/CustomerServices/bin/Release/netcoreapp2.0/*.dll
/CustomerServices/bin/Release/netcoreapp2.0/*.pdb
/CustomerServices/obj/*.cache
/CustomerServices/obj/*.props
/CustomerServices/obj/*.targets
/CustomerServices/obj/Debug/netcoreapp2.0/*.cs
/CustomerServices/obj/Debug/netcoreapp2.0/*.cache
/CustomerServices/obj/Debug/netcoreapp2.0/*.txt
/CustomerServices/obj/Debug/netcoreapp2.0/*.dll
/CustomerServices/obj/Debug/netcoreapp2.0/*.pdb
/CustomerServices/obj/Docker/*.cache
/CustomerServices/obj/Docker/publish/*.dll
/CustomerServices/obj/Docker/publish/*.pdb
/CustomerServices/obj/Docker/publish/*.json
/CustomerServices/obj/Docker/publish/*.config
/CustomerServices/obj/Release/netcoreapp2.0/*.cs
/CustomerServices/obj/Release/netcoreapp2.0/*.cache
/CustomerServices/obj/Release/netcoreapp2.0/*.dll
/CustomerServices/obj/Release/netcoreapp2.0/*.pdb
/CustomerServices/obj/Release/netcoreapp2.0/*.txt
/CustomerServices/obj/Release/netcoreapp2.0/*.rsp
/CustomerServices/obj/*.json
/ProductServices/bin/Debug/netcoreapp2.0/*.json
/ProductServices/bin/Debug/netcoreapp2.0/*.dll
/ProductServices/bin/Debug/netcoreapp2.0/*.pdb
/ProductServices/bin/Release/netcoreapp2.0/*.json
/ProductServices/bin/Release/netcoreapp2.0/*.dll
/ProductServices/bin/Release/netcoreapp2.0/*.pdb
/ProductServices/obj/Debug/netcoreapp2.0/*.cs
/ProductServices/obj/Debug/netcoreapp2.0/*.cache
/ProductServices/obj/Debug/netcoreapp2.0/*.txt
/ProductServices/obj/Debug/netcoreapp2.0/*.dll
/ProductServices/obj/Debug/netcoreapp2.0/*.pdb
/ProductServices/obj/Docker/*.cache
/ProductServices/obj/Docker/publish/*.dll
/ProductServices/obj/Docker/publish/*.pdb
/ProductServices/obj/Docker/publish/*.json
/ProductServices/obj/Docker/publish/*.config
/ProductServices/obj/*.cache
/ProductServices/obj/*.props
/ProductServices/obj/*.targets
/ProductServices/obj/Release/netcoreapp2.0/*.cs
/ProductServices/obj/Release/netcoreapp2.0/*.cache
/ProductServices/obj/Release/netcoreapp2.0/*.dll
/ProductServices/obj/Release/netcoreapp2.0/*.pdb
/ProductServices/obj/Release/netcoreapp2.0/*.txt
/ProductServices/obj/Release/netcoreapp2.0/*.rsp
/ProductServices/obj/*.json
/obj/Docker/*.cache
/.vs/acelot-gatewayapi-sample/v15/.suo
/.vs/acelot-gatewayapi/v15/.suo
/.vs/acelot-gatewayapi/v15/Server/sqlite3/db.lock
/.vs/acelot-gatewayapi/v15/Server/sqlite3/storage.ide
/.vs/acelot-gatewayapi/v15/Server/sqlite3/storage.ide-shm
/.vs/acelot-gatewayapi/v15/Server/sqlite3/storage.ide-wal
/obj/Debug/docker-compose.dcproj.FileListAbsolute.txt
/obj/Docker/docker-compose.vs.debug.g.yml
/obj/Docker/docker-compose.vs.release.g.yml
/src/ApiGateway/bin/Debug/netcoreapp2.0/ApiGateway.deps.json
/src/ApiGateway/bin/Debug/netcoreapp2.0/ApiGateway.dll
/src/ApiGateway/bin/Debug/netcoreapp2.0/ApiGateway.pdb
/src/ApiGateway/bin/Debug/netcoreapp2.0/ApiGateway.runtimeconfig.dev.json
/src/ApiGateway/bin/Debug/netcoreapp2.0/ApiGateway.runtimeconfig.json
/src/ApiGateway/bin/Debug/netcoreapp2.0/configuration.Development.json
/src/ApiGateway/bin/Release/netcoreapp2.0/ApiGateway.deps.json
/src/ApiGateway/bin/Release/netcoreapp2.0/ApiGateway.dll
/src/ApiGateway/bin/Release/netcoreapp2.0/ApiGateway.pdb
/src/ApiGateway/bin/Release/netcoreapp2.0/ApiGateway.runtimeconfig.dev.json
/src/ApiGateway/bin/Release/netcoreapp2.0/ApiGateway.runtimeconfig.json
/src/ApiGateway/obj/ApiGateway.csproj.nuget.cache
/src/ApiGateway/obj/ApiGateway.csproj.nuget.g.props
/src/ApiGateway/obj/ApiGateway.csproj.nuget.g.targets
/src/ApiGateway/obj/Debug/netcoreapp2.0/ApiGateway.AssemblyInfo.cs
/src/ApiGateway/obj/Debug/netcoreapp2.0/ApiGateway.AssemblyInfoInputs.cache
/src/ApiGateway/obj/Debug/netcoreapp2.0/ApiGateway.csproj.CoreCompileInputs.cache
/src/ApiGateway/obj/Debug/netcoreapp2.0/ApiGateway.csproj.FileListAbsolute.txt
/src/ApiGateway/obj/Debug/netcoreapp2.0/ApiGateway.dll
/src/ApiGateway/obj/Debug/netcoreapp2.0/ApiGateway.pdb
/src/ApiGateway/obj/Docker/AppType.cache
/src/ApiGateway/obj/Docker/CanonicalServiceName.cache
/src/ApiGateway/obj/Docker/ProjectReferences.cache
/src/ApiGateway/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
/src/ApiGateway/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
/src/ApiGateway/obj/Docker/TargetFramework.cache
/src/ApiGateway/obj/Docker/publish/ApiGateway.PrecompiledViews.dll
/src/ApiGateway/obj/Docker/publish/ApiGateway.PrecompiledViews.pdb
/src/ApiGateway/obj/Docker/publish/ApiGateway.deps.json
/src/ApiGateway/obj/Docker/publish/ApiGateway.dll
/src/ApiGateway/obj/Docker/publish/ApiGateway.pdb
/src/ApiGateway/obj/Docker/publish/ApiGateway.runtimeconfig.json
/src/ApiGateway/obj/Docker/publish/CacheManager.Core.dll
/src/ApiGateway/obj/Docker/publish/CacheManager.Microsoft.Extensions.Configuration.dll
/src/ApiGateway/obj/Docker/publish/CacheManager.Microsoft.Extensions.Logging.dll
/src/ApiGateway/obj/Docker/publish/Consul.dll
/src/ApiGateway/obj/Docker/publish/FluentValidation.dll
/src/ApiGateway/obj/Docker/publish/IdentityModel.AspNetCore.OAuth2Introspection.dll
/src/ApiGateway/obj/Docker/publish/IdentityModel.dll
/src/ApiGateway/obj/Docker/publish/IdentityServer4.AccessTokenValidation.dll
/src/ApiGateway/obj/Docker/publish/IdentityServer4.dll
/src/ApiGateway/obj/Docker/publish/Microsoft.DotNet.InternalAbstractions.dll
/src/ApiGateway/obj/Docker/publish/Newtonsoft.Json.dll
/src/ApiGateway/obj/Docker/publish/Ocelot.dll
/src/ApiGateway/obj/Docker/publish/Polly.dll
/src/ApiGateway/obj/Docker/publish/Rafty.dll
/src/ApiGateway/obj/Docker/publish/configuration.json
/src/ApiGateway/obj/Docker/publish/runtimes/unix/lib/netstandard1.3/System.Net.Http.WinHttpHandler.dll
/src/ApiGateway/obj/Docker/publish/runtimes/win/lib/netstandard1.3/System.Net.Http.WinHttpHandler.dll
/src/ApiGateway/obj/Docker/publish/web.config
/src/ApiGateway/obj/Release/netcoreapp2.0/ApiGateway.AssemblyInfo.cs
/src/ApiGateway/obj/Release/netcoreapp2.0/ApiGateway.AssemblyInfoInputs.cache
/src/ApiGateway/obj/Release/netcoreapp2.0/ApiGateway.PrecompiledViews.dll
/src/ApiGateway/obj/Release/netcoreapp2.0/ApiGateway.PrecompiledViews.pdb
/src/ApiGateway/obj/Release/netcoreapp2.0/ApiGateway.csproj.CoreCompileInputs.cache
/src/ApiGateway/obj/Release/netcoreapp2.0/ApiGateway.csproj.FileListAbsolute.txt
/src/ApiGateway/obj/Release/netcoreapp2.0/ApiGateway.dll
/src/ApiGateway/obj/Release/netcoreapp2.0/ApiGateway.pdb
/src/ApiGateway/obj/Release/netcoreapp2.0/microsoft.aspnetcore.mvc.razor.viewcompilation.rsp
/src/ApiGateway/obj/project.assets.json
/src/CustomerServices/bin/Debug/netcoreapp2.0/CustomerServices.deps.json
/src/CustomerServices/bin/Debug/netcoreapp2.0/CustomerServices.dll
/src/CustomerServices/bin/Debug/netcoreapp2.0/CustomerServices.pdb
/src/CustomerServices/bin/Debug/netcoreapp2.0/CustomerServices.runtimeconfig.dev.json
/src/CustomerServices/bin/Debug/netcoreapp2.0/CustomerServices.runtimeconfig.json
/src/CustomerServices/bin/Release/netcoreapp2.0/CustomerServices.deps.json
/src/CustomerServices/bin/Release/netcoreapp2.0/CustomerServices.dll
/src/CustomerServices/bin/Release/netcoreapp2.0/CustomerServices.pdb
/src/CustomerServices/bin/Release/netcoreapp2.0/CustomerServices.runtimeconfig.dev.json
/src/CustomerServices/bin/Release/netcoreapp2.0/CustomerServices.runtimeconfig.json
/src/CustomerServices/obj/CustomerServices.csproj.nuget.cache
/src/CustomerServices/obj/CustomerServices.csproj.nuget.g.props
/src/CustomerServices/obj/CustomerServices.csproj.nuget.g.targets
/src/CustomerServices/obj/Debug/netcoreapp2.0/CustomerServices.AssemblyInfo.cs
/src/CustomerServices/obj/Debug/netcoreapp2.0/CustomerServices.AssemblyInfoInputs.cache
/src/CustomerServices/obj/Debug/netcoreapp2.0/CustomerServices.csproj.CoreCompileInputs.cache
/src/CustomerServices/obj/Debug/netcoreapp2.0/CustomerServices.csproj.FileListAbsolute.txt
/src/CustomerServices/obj/Debug/netcoreapp2.0/CustomerServices.dll
/src/CustomerServices/obj/Debug/netcoreapp2.0/CustomerServices.pdb
/src/CustomerServices/obj/Docker/AppType.cache
/src/CustomerServices/obj/Docker/CanonicalServiceName.cache
/src/CustomerServices/obj/Docker/ProjectReferences.cache
/src/CustomerServices/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
/src/CustomerServices/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
/src/CustomerServices/obj/Docker/TargetFramework.cache
/src/CustomerServices/obj/Docker/publish/CustomerServices.PrecompiledViews.dll
/src/CustomerServices/obj/Docker/publish/CustomerServices.PrecompiledViews.pdb
/src/CustomerServices/obj/Docker/publish/CustomerServices.deps.json
/src/CustomerServices/obj/Docker/publish/CustomerServices.dll
/src/CustomerServices/obj/Docker/publish/CustomerServices.pdb
/src/CustomerServices/obj/Docker/publish/CustomerServices.runtimeconfig.json
/src/CustomerServices/obj/Docker/publish/appsettings.Development.json
/src/CustomerServices/obj/Docker/publish/appsettings.json
/src/CustomerServices/obj/Docker/publish/web.config
/src/CustomerServices/obj/Release/netcoreapp2.0/CustomerServices.AssemblyInfo.cs
/src/CustomerServices/obj/Release/netcoreapp2.0/CustomerServices.AssemblyInfoInputs.cache
/src/CustomerServices/obj/Release/netcoreapp2.0/CustomerServices.PrecompiledViews.dll
/src/CustomerServices/obj/Release/netcoreapp2.0/CustomerServices.PrecompiledViews.pdb
/src/CustomerServices/obj/Release/netcoreapp2.0/CustomerServices.csproj.CoreCompileInputs.cache
/src/CustomerServices/obj/Release/netcoreapp2.0/CustomerServices.csproj.FileListAbsolute.txt
/src/CustomerServices/obj/Release/netcoreapp2.0/CustomerServices.dll
/src/CustomerServices/obj/Release/netcoreapp2.0/CustomerServices.pdb
/src/CustomerServices/obj/Release/netcoreapp2.0/microsoft.aspnetcore.mvc.razor.viewcompilation.rsp
/src/CustomerServices/obj/project.assets.json
/src/ProductServices/bin/Debug/netcoreapp2.0/ProductServices.deps.json
/src/ProductServices/bin/Debug/netcoreapp2.0/ProductServices.dll
/src/ProductServices/bin/Debug/netcoreapp2.0/ProductServices.pdb
/src/ProductServices/bin/Debug/netcoreapp2.0/ProductServices.runtimeconfig.dev.json
/src/ProductServices/bin/Debug/netcoreapp2.0/ProductServices.runtimeconfig.json
/src/ProductServices/bin/Release/netcoreapp2.0/ProductServices.deps.json
/src/ProductServices/bin/Release/netcoreapp2.0/ProductServices.dll
/src/ProductServices/bin/Release/netcoreapp2.0/ProductServices.pdb
/src/ProductServices/bin/Release/netcoreapp2.0/ProductServices.runtimeconfig.dev.json
/src/ProductServices/bin/Release/netcoreapp2.0/ProductServices.runtimeconfig.json
/src/ProductServices/obj/Debug/netcoreapp2.0/ProductServices.AssemblyInfo.cs
/src/ProductServices/obj/Debug/netcoreapp2.0/ProductServices.AssemblyInfoInputs.cache
/src/ProductServices/obj/Debug/netcoreapp2.0/ProductServices.csproj.CoreCompileInputs.cache
/src/ProductServices/obj/Debug/netcoreapp2.0/ProductServices.csproj.FileListAbsolute.txt
/src/ProductServices/obj/Debug/netcoreapp2.0/ProductServices.dll
/src/ProductServices/obj/Debug/netcoreapp2.0/ProductServices.pdb
/src/ProductServices/obj/Docker/AppType.cache
/src/ProductServices/obj/Docker/CanonicalServiceName.cache
/src/ProductServices/obj/Docker/ProjectReferences.cache
/src/ProductServices/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
/src/ProductServices/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
/src/ProductServices/obj/Docker/TargetFramework.cache
/src/ProductServices/obj/Docker/publish/ProductServices.PrecompiledViews.dll
/src/ProductServices/obj/Docker/publish/ProductServices.PrecompiledViews.pdb
/src/ProductServices/obj/Docker/publish/ProductServices.deps.json
/src/ProductServices/obj/Docker/publish/ProductServices.dll
/src/ProductServices/obj/Docker/publish/ProductServices.pdb
/src/ProductServices/obj/Docker/publish/ProductServices.runtimeconfig.json
/src/ProductServices/obj/Docker/publish/appsettings.Development.json
/src/ProductServices/obj/Docker/publish/appsettings.json
/src/ProductServices/obj/Docker/publish/web.config
/src/ProductServices/obj/ProductServices.csproj.nuget.cache
/src/ProductServices/obj/ProductServices.csproj.nuget.g.props
/src/ProductServices/obj/ProductServices.csproj.nuget.g.targets
/src/ProductServices/obj/Release/netcoreapp2.0/ProductServices.AssemblyInfo.cs
/src/ProductServices/obj/Release/netcoreapp2.0/ProductServices.AssemblyInfoInputs.cache
/src/ProductServices/obj/Release/netcoreapp2.0/ProductServices.PrecompiledViews.dll
/src/ProductServices/obj/Release/netcoreapp2.0/ProductServices.PrecompiledViews.pdb
/src/ProductServices/obj/Release/netcoreapp2.0/ProductServices.csproj.CoreCompileInputs.cache
/src/ProductServices/obj/Release/netcoreapp2.0/ProductServices.csproj.FileListAbsolute.txt
/src/ProductServices/obj/Release/netcoreapp2.0/ProductServices.dll
/src/ProductServices/obj/Release/netcoreapp2.0/ProductServices.pdb
/src/ProductServices/obj/Release/netcoreapp2.0/microsoft.aspnetcore.mvc.razor.viewcompilation.rsp
/src/ProductServices/obj/project.assets.json
/src/IdentityServices/bin/Debug/netcoreapp2.0/IdentityServices.deps.json
/src/IdentityServices/bin/Debug/netcoreapp2.0/IdentityServices.dll
/src/IdentityServices/bin/Debug/netcoreapp2.0/IdentityServices.pdb
/src/IdentityServices/bin/Debug/netcoreapp2.0/IdentityServices.runtimeconfig.dev.json
/src/IdentityServices/bin/Debug/netcoreapp2.0/IdentityServices.runtimeconfig.json
/src/IdentityServices/bundleconfig.json
/src/IdentityServices/obj/Debug/netcoreapp2.0/IdentityServices.AssemblyInfo.cs
/src/IdentityServices/obj/Debug/netcoreapp2.0/IdentityServices.AssemblyInfoInputs.cache
/src/IdentityServices/obj/Debug/netcoreapp2.0/IdentityServices.csproj.CoreCompileInputs.cache
/src/IdentityServices/obj/Debug/netcoreapp2.0/IdentityServices.csproj.FileListAbsolute.txt
/src/IdentityServices/obj/Debug/netcoreapp2.0/IdentityServices.csprojResolveAssemblyReference.cache
/src/IdentityServices/obj/Debug/netcoreapp2.0/IdentityServices.dll
/src/IdentityServices/obj/Debug/netcoreapp2.0/IdentityServices.pdb
/src/IdentityServices/obj/Debug/netcoreapp2.0/UserSecretsAssemblyInfo.cs
/src/IdentityServices/obj/Docker/AppType.cache
/src/IdentityServices/obj/Docker/CanonicalServiceName.cache
/src/IdentityServices/obj/Docker/ProjectReferences.cache
/src/IdentityServices/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
/src/IdentityServices/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
/src/IdentityServices/obj/Docker/TargetFramework.cache
/src/IdentityServices/obj/IdentityServices.csproj.EntityFrameworkCore.targets
/src/IdentityServices/obj/IdentityServices.csproj.nuget.cache
/src/IdentityServices/obj/IdentityServices.csproj.nuget.g.props
/src/IdentityServices/obj/IdentityServices.csproj.nuget.g.targets
/src/IdentityServices/obj/project.assets.json
/.vs/GatewaySolution/v15/.suo
/.vs/GatewaySolution/v15/Server/sqlite3/db.lock
/.vs/GatewaySolution/v15/Server/sqlite3/storage.ide
/.vs/GatewaySolution/v15/Server/sqlite3/storage.ide-shm
/.vs/GatewaySolution/v15/Server/sqlite3/storage.ide-wal
/src/ApiGateway/obj/Debug/netcoreapp2.0/*.cache
/src/CustomerServices/obj/Debug/netcoreapp2.0/*.cache
