/.vs/acelot-gatewayapi-sample/v15/Server/sqlite3/*.lock
/.vs/acelot-gatewayapi-sample/v15/Server/sqlite3/*.ide
/.vs/acelot-gatewayapi-sample/v15/Server/sqlite3/*.ide-shm
/.vs/acelot-gatewayapi-sample/v15/Server/sqlite3/*.ide-wal
/ApiGateway/bin/Debug/netcoreapp2.0/*.json
/ApiGateway/bin/Debug/netcoreapp2.0/*.dll
/ApiGateway/bin/Debug/netcoreapp2.0/*.pdb
/ApiGateway/bin/Release/netcoreapp2.0/*.json
/ApiGateway/bin/Release/netcoreapp2.0/*.dll
/ApiGateway/bin/Release/netcoreapp2.0/*.pdb
/ApiGateway/obj/*.cache
/ApiGateway/obj/*.props
/ApiGateway/obj/*.targets
/ApiGateway/obj/Debug/netcoreapp2.0/*.cs
/ApiGateway/obj/Debug/netcoreapp2.0/*.cache
/ApiGateway/obj/Debug/netcoreapp2.0/*.txt
/ApiGateway/obj/Debug/netcoreapp2.0/*.dll
/ApiGateway/obj/Debug/netcoreapp2.0/*.pdb
/ApiGateway/obj/Docker/*.cache
/ApiGateway/obj/Docker/publish/*.dll
/ApiGateway/obj/Docker/publish/*.pdb
/ApiGateway/obj/Docker/publish/*.json
/ApiGateway/obj/Docker/publish/runtimes/unix/lib/netstandard1.3/*.dll
/ApiGateway/obj/Docker/publish/runtimes/win/lib/netstandard1.3/*.dll
/ApiGateway/obj/Docker/publish/*.config
/ApiGateway/obj/Release/netcoreapp2.0/*.cs
/ApiGateway/obj/Release/netcoreapp2.0/*.cache
/ApiGateway/obj/Release/netcoreapp2.0/*.dll
/ApiGateway/obj/Release/netcoreapp2.0/*.pdb
/ApiGateway/obj/Release/netcoreapp2.0/*.txt
/ApiGateway/obj/Release/netcoreapp2.0/*.rsp
/ApiGateway/obj/*.json
/CustomerServices/bin/Debug/netcoreapp2.0/*.json
/CustomerServices/bin/Debug/netcoreapp2.0/*.dll
/CustomerServices/bin/Debug/netcoreapp2.0/*.pdb
/CustomerServices/bin/Release/netcoreapp2.0/*.json
/CustomerServices/bin/Release/netcoreapp2.0/*.dll
/CustomerServices/bin/Release/netcoreapp2.0/*.pdb
/CustomerServices/obj/*.cache
/CustomerServices/obj/*.props
/CustomerServices/obj/*.targets
/CustomerServices/obj/Debug/netcoreapp2.0/*.cs
/CustomerServices/obj/Debug/netcoreapp2.0/*.cache
/CustomerServices/obj/Debug/netcoreapp2.0/*.txt
/CustomerServices/obj/Debug/netcoreapp2.0/*.dll
/CustomerServices/obj/Debug/netcoreapp2.0/*.pdb
/CustomerServices/obj/Docker/*.cache
/CustomerServices/obj/Docker/publish/*.dll
/CustomerServices/obj/Docker/publish/*.pdb
/CustomerServices/obj/Docker/publish/*.json
/CustomerServices/obj/Docker/publish/*.config
/CustomerServices/obj/Release/netcoreapp2.0/*.cs
/CustomerServices/obj/Release/netcoreapp2.0/*.cache
/CustomerServices/obj/Release/netcoreapp2.0/*.dll
/CustomerServices/obj/Release/netcoreapp2.0/*.pdb
/CustomerServices/obj/Release/netcoreapp2.0/*.txt
/CustomerServices/obj/Release/netcoreapp2.0/*.rsp
/CustomerServices/obj/*.json
/ProductServices/bin/Debug/netcoreapp2.0/*.json
/ProductServices/bin/Debug/netcoreapp2.0/*.dll
/ProductServices/bin/Debug/netcoreapp2.0/*.pdb
/ProductServices/bin/Release/netcoreapp2.0/*.json
/ProductServices/bin/Release/netcoreapp2.0/*.dll
/ProductServices/bin/Release/netcoreapp2.0/*.pdb
/ProductServices/obj/Debug/netcoreapp2.0/*.cs
/ProductServices/obj/Debug/netcoreapp2.0/*.cache
/ProductServices/obj/Debug/netcoreapp2.0/*.txt
/ProductServices/obj/Debug/netcoreapp2.0/*.dll
/ProductServices/obj/Debug/netcoreapp2.0/*.pdb
/ProductServices/obj/Docker/*.cache
/ProductServices/obj/Docker/publish/*.dll
/ProductServices/obj/Docker/publish/*.pdb
/ProductServices/obj/Docker/publish/*.json
/ProductServices/obj/Docker/publish/*.config
/ProductServices/obj/*.cache
/ProductServices/obj/*.props
/ProductServices/obj/*.targets
/ProductServices/obj/Release/netcoreapp2.0/*.cs
/ProductServices/obj/Release/netcoreapp2.0/*.cache
/ProductServices/obj/Release/netcoreapp2.0/*.dll
/ProductServices/obj/Release/netcoreapp2.0/*.pdb
/ProductServices/obj/Release/netcoreapp2.0/*.txt
/ProductServices/obj/Release/netcoreapp2.0/*.rsp
/ProductServices/obj/*.json
/obj/Docker/*.cache
